.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #13080c;
  justify-content: space-evenly;
  color: #f9f9f9;

  li {
    list-style-type: none;
  }

  span {
    color: #f9f9f9;
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
    font-size: 2rem;
  }
}

.adressSpan {
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.footerContactInfo {
  text-align: center;
}
